html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

#info {
  position: absolute;
  top: 42px;
  right: 13px;
  z-index: 99;
  display: none;
  border: 1px solid gray;
  background-color: #fff;
  opacity: 0.8;
  padding: 10px;
}

#info dl {
  margin-top: 0;
}

table.list th {
  text-align: left;
}

/* Adds icon indicating an external link after the element */
.external:after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAC4jAAAuIwF4pT92AAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAAxElEQVQYGW3QOw4BURSA4fFKJIhOVKLQKiUqa1ApNFPYgdIK9GxDrUMsgcIGFBIkaBQj+P8xEoWTfHNmzj1zX6ngfzQpD/HEHZksjxAFvJDHEXPsMUIKQRpj1FFBDVWcsYPjNjpJsISF3+jx4eAGE7h83Fj0JYmQbJNLt5LayJkyiPeRFEvkLbo4oY8pgjXK8Kcc/NF9GjbPUPXUrn+F4XUYh0+KD+UtpG1sYIAHnM0wX9CBtxHZuEAbHuAb7jmCW1rh9gbDLCY/BhzzxQAAAABJRU5ErkJggg==);
  margin: 0px;
}
